{% extends 'base/main.html' %}
{% load static %}

{% block title %}Home | Twitter Bot{% endblock %}

{% block content %}
<section class="site-title">
    <div class="forms-container">
        <!-- Insert URL Form -->
        <div class="form-box">
            <form method="post" action="{% url 'base:prediction' %}">
                {% csrf_token %}
                <h2>Insert URL to Analyse</h2>
                <input type="text" class="yoururl" name="url" placeholder="Enter URL here">
                <input type="submit" value="Predict" name="submit">
                <p>Predicted output: {{ output }}</p>
            </form>
        </div>

        <!-- Train Model Form -->
        <div class="form-box">
            <form method="post" action="{% url 'base:train_model' %}">
                {% csrf_token %}
                <h2>Train the Model</h2>
                <input type="submit" value="Train" name="submit">
            </form>
        </div>
    </div>
</section>
{% endblock %}
