{% load static %}

<nav class="nav">
    <div class="nav-menu container flex-row">
        <div class="nav-brand">
            <a href="#"><i class="fas fa-robot"></i> BOT</a>
        </div>
        <ul class="nav-items">
            <li class="nav-link"><a href="{% url 'base:home' %}">Home</a></li>
            <li class="nav-link"><a href="{% url 'base:bot' %}">Bot Analysis</a></li>
            <li class="nav-link"><a href="{% url 'base:about' %}">Dashboard</a></li>
        </ul>
    </div>
</nav>
